.NavBar{
   display: flex;
   gap: 40px;
   margin-right: 100px;
}

.NavBar button{
   background: none;
   border: none;
   color: white;
   font-size: 18px;
   cursor: pointer;
   position: relative;
}

.NavBar button:hover{
   color: #8c52ff;
}

.NavBar button.active{
   color: #8c52ff;
}

.NavBar button.active::after{
   content: "";
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 100%;
   height: 2px;
   background: #8c52ff;
}